<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/users/new">
        <input type="username" name="username" placeholder="enter username">
        <input type="email" name="email" placeholder="enter email">
        <input type='password' name='password' placeholder="enter password">
        <input type="password" name='confirmPass' placeholder="confirm password">
        <button>add user</button>
    </form>
</body>

</html>